
        <link rel="stylesheet" href="/static/css/estilos.css">
          <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

<script src="/static/js/dom.js"></script>
       
        <div class="container">
             <img class="img2" id="error404" onclick="addBorder()" src="/static/img/error404.png" alt="">
        <h1>La página que ha solicitado no se encuentra disponible</h1>
        <div class="boton">
            <a href="/inicio">
<button>Volver atras</button>
            </a>
        </div>
    </div>
