
    <main class="mainContent">
        <form action="">
            <h1 class="centrar">Crear curso</h1>
       
            <div>

            
            <div class="formCrearCurso">
                <label for="name">Nombre curso:</label>
                <input class="intputForm" type="text" id="nameCurso" name="nameCurso">
                <label for="image">Imagen curso:</label>
                <input type="file" id="imagen" name="imagen">
                <label for="descripcion">Descripción:</label>
                <textarea class="textareaForm" id="descripcion" name="descripcion" cols="30" rows="10"></textarea>

            </div>
            </div>            
            <div class="btnsCrearCurso">
                <input type="button" name="btnCancelar" id="btnCancelar" value="Cancelar">
                <input type="submit" name="btnCrearCurso" id="btnCrearCurso" value="Crear">
            </div>
        </form>
    </main>
    

    <div class="card">
        <div class="card-header">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
