
    <main class="mainContent">
        <form class="form">
            <h1 class="centrar">Crear curso</h1>
       
            <div>

            
            <div class="formCrearCurso">
                <label for="name">Nombre curso:</label>
                <input class="intputForm" type="text" id="nameCurso" name="nameCurso">
                <label for="image">Imagen curso:</label>
                <input type="file" id="imagen" name="imagen">
                <label for="descripcion">Descripción:</label>
                <textarea class="textareaForm" id="descripcion" name="descripcion" cols="30" rows="10"></textarea>

            </div>
            </div>            
            <div class="btnsCrearCurso">
                <input type="button" name="btnCancelar" id="btnCancelar" value="Cancelar">
                <input type="submit" name="btnCrearCurso" id="btnCrearCurso" value="Crear">
            </div>
        </form>
    </main>
    

    