{{> navbar nombre = sesion.nombre idRol = sesion.cveRol cveUsuario = sesion.cveUsuario }}
<main>
    <div class="centrar">
        Nombre curso
    </div>
    <div class="derecha">
        Modificar Curso: <a href="#"><button id="myBtn">Editar</button></a>
    </div>

    <div class="crearCursoForms">
        <div class="marco ">
            <div class="centrar">
                Secciones
            </div>
            <hr class="line">



            <table class="scrollable">

                <thead>
                    <tr>
                        <th><span class="text">Nombre</span></th>
                        <th><span class="text">Eliminar</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Sección 1</th>
                        <th>Borrar</th>

                    </tr>
                    <tr>
                        <th>Sección 1</th>
                        <th>Borrar</th>

                    </tr>
                    <tr>
                        <th>Sección 1</th>
                        <th>Borrar</th>

                    </tr>
                    <tr>
                        <th>Sección 1</th>
                        <th>Borrar</th>

                    </tr>
                    <tr>
                        <th>Sección 1</th>
                        <th>Borrar</th>

                    </tr>
                    <tr>
                        <th>Sección 1</th>
                        <th>Borrar</th>

                    </tr>
                    <tr>
                        <th>Sección 1</th>
                        <th>Borrar</th>

                    </tr>
                    <tr>
                        <th>Sección 1</th>
                        <th>Borrar</th>

                    </tr>
                    <tr>
                        <th>Sección 1</th>
                        <th>Borrar</th>

                    </tr>
                    <tr>
                        <th>Sección 1</th>
                        <th>Borrar</th>

                    </tr>

                </tbody>
            </table>



            <hr class="line">
            <div class="addTemaSeccion">
                <input type="text" placeholder="Agregar sección">
                <button>Agregar</button>
            </div>
        </div>
        <div class="marco">
            <div class="centrar">
                Temas de sección
            </div>
            <hr class="line">

            <table class="scrollable">
                <thead>
                    <tr>
                        <th><span class="text">Nombre</span></th>
                        <th><span class="text">Eliminar</span></th>
                        <th><span class="text">Editar</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Tema 1</th>
                        <th>Borrar</th>
                        <th>Editar</th>

                    </tr>

                </tbody>
            </table>
            <hr class="line">

            <div class="addTemaSeccion">
                <input type="text" placeholder="Agregar tema">
                <button>Agregar</button>
            </div>
        </div>
    </div>

</main>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div>
            <input class="modalComentario" type="text" placeholder="Deja tu comentario">
        </div>
        <div class="btnsModal">
            <button class="btnCerrarModal">Cancelar</button>
            <button class="btnComentar">Comentar</button>

        </div>
    </div>

</div>