
    <main class="mainContent marco">
        <h1 class="centrar">Editar tema "nombre tema"</h1>
        <div>
            <div class="centrar">
                Editar tema 
            </div>
            <div class="centrar">
                Nombre curso
                <div>
                    <input type="text" placeholder="Nuevo nombre de curso">
                </div>
            </div>
            <div>
                <div class="centrar">
                    Material tema
                </div>
                <table class="scrollable centrar marLate">

                    <thead>
                        <tr>
                            <th><span class="text">Nombre material</span></th>
                            <th><span class="text">Eliminar material</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Sección 1</th>
                            <th>Borrar</th>

                        </tr>
                        <tr>
                            <th>Sección 1</th>
                            <th>Borrar</th>

                        </tr>
                        <tr>
                            <th>Sección 1</th>
                            <th>Borrar</th>

                        </tr>
                        <tr>
                            <th>Sección 1</th>
                            <th>Borrar</th>

                        </tr>
                        <tr>
                            <th>Sección 1</th>
                            <th>Borrar</th>

                        </tr>
                        <tr>
                            <th>Sección 1</th>
                            <th>Borrar</th>

                        </tr>
                        <tr>
                            <th>Sección 1</th>
                            <th>Borrar</th>

                        </tr>
                        <tr>
                            <th>Sección 1</th>
                            <th>Borrar</th>

                        </tr>
                        <tr>
                            <th>Sección 1</th>
                            <th>Borrar</th>

                        </tr>
                        <tr>
                            <th>Sección 1</th>
                            <th>Borrar</th>

                        </tr>

                    </tbody>
                </table>
                <div class="flex">
                    <input type="file" name="" id="">
                    <input type="button" value="agregar material">
                </div>
                <div class="centrar">
                    Teoría
                    <div >
                        <textarea class="areaTeoria" name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="flex">
                    <input type="button" value="Cancelar">
                    <input type="submit" value="Modificar">
                </div>
            </div>
        </div>

    </main>
    <div id="card">
        ds

    </div>
  