  {{> navbar }}




<div class="card-columns">
  {{#each miscursos}}
  <div class="card">
    <img class="card-img-top" src="/static/img/logo.png" style="width:auto; height:150px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><p>{{nombre}}</p></h5>    
      <details>
        <summary>Más información</summary>
        <p>{{descripcion}}</p>
      </details>

      <br>
      <br>

      <p class="card-text" style="float: left;">
        <i class="icon-calendar"></i>&nbsp;&nbsp;{{fecha}}
      </p>
      <br>
      <br>

      <div align="center">
        <ul style="display:block;">
            <a class="cursos_links_editar" href="#" style="text-decoration: none;">
                <i class="icon-edit" style="font-size: 35px; color: rgb(255, 223, 43);"></i> <!--Editar curso-->
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="cursos_links_eliminar" href="#" style="text-decoration: none;">
                <i class="icon-trash" style="font-size: 35px; color: rgb(219, 68, 68);"></i> <!--Eliminar curso-->
            </a> 
      </ul>
      </div>

    </div>
  </div>
  {{/each}}
  
</div>




