body {
    background: rgb(27, 74, 118);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.img2 {
    margin-top: 30px;
    margin-left: 90px;
    width: 250px;
    height: 350px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(233, 238, 245);
    font-size: 20px;
    padding: 20px;
}

button {
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: rgb(5, 129, 245);
    color: white;
}

@media screen and (max-width:630px) {
    h1 {
        font-size: 16px;
    }
}