

    <main class="contenedor sombra">
        <div class="descripcion">
            <div class="">
                <img class="imgCurso" src="../publico/img/hero.jpg" alt="">
            </div>
            <hr class="separacion">
            <div>
                <h2>Nombre curso</h2>
                <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus iste voluptatibus
                    veniam vel
                    placeat culpa, aliquam officia sequi, in, consectetur modi vero pariatur sapiente fuga accusamus
                    tempora saepe ipsum nam!</p>
                <div class="gridDatosCurso">
                    <div>
                        Fecha creacion
                    </div>
                    <div>
                        Fecha ultima modificación
                    </div>
                    <div>
                        Instructor
                    </div>
                </div>
            </div>
        </div>
        <hr class="separacion">
        <div class="centrar seccionesCurso">
            <h2>Secciones del curso</h2>
            <div class="frame">
                <button class="accordion">Section 1</button>
                <div class="panel">
                    <ul>
                        <li>Matematicas 1</li>
                        <hr>
                        <li>Matematicas 2</li>
                    </ul>
                </div>

                <button class="accordion">Section 2</button>
                <div class="panel">
                    <ul>
                        <li>Matematicas 1</li>
                        <hr>
                        <li>Matematicas 2</li>
                    </ul>
                </div>

                <button class="accordion">Section 3</button>
                <div id="foo" class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </main>
 
 