  {{> navbar }}




<div class="card-columns">
  {{#each cursos}}
  <div class="card">
    <img class="card-img-top" src="/static/img/logo.png" style="width:auto; height:150px;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><p>{{nombre}}</p></h5>    
      <details>
        <summary>Más información</summary>
        <p>{{descripcion}}</p>
      </details>

      <br>
      <br>

      <p class="card-text" style="float: left;">
        <i class="icon-calendar"></i>&nbsp;&nbsp;{{fecha}}
      </p>
      <p class="card-text" style="float: right;">
        <i class="icon-user"></i>&nbsp;&nbsp;{{nombreCompleto}}
      </p> 
    </div>
  </div>
  {{/each}}
  
</div>



