<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    inicio
    <a href="MisCursos.html"><button>Mis cursos</button></a>
    <a href="datosCurso.html"><button>Datos del curso</button></a>
    <a href="../login/login.html"><button>Cerrar sesion</button></a>
    <a href="../curso/miscursosCreados.html"><button>Mis cursos creados</button></a>

</body>
</html>