{{> navbar nombre = sesion.nombre idRol = sesion.cveRol cveUsuario = sesion.cveUsuario }}

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="itemsSecciones">
        <a href="#">ITEM 1</a>
        <a href="#">ITEM 2</a>
        <a href="#">ITEM 3</a>
        <a href="#">ITEM 4</a>
        <a href="#">ITEM 1</a>
        <a href="#">ITEM 2</a>
        <a href="#">ITEM 3</a>
        <a href="#">ITEM 4</a>
        <a href="#">ITEM 1</a>
        <a href="#">ITEM 2</a>
        <a href="#">ITEM 3</a>
        <a href="#">ITEM 4</a>
        <a href="#">ITEM 1</a>
        <a href="#">ITEM 2</a>
        <a href="#">ITEM 3</a>
        <a href="#">ITEM 4</a>
        <a href="#">ITEM 1</a>
        <a href="#">ITEM 2</a>
        <a href="#">ITEM 3</a>
        <a href="#">ITEM 4</a>
        <a href="#">ITEM 1</a>
        <a href="#">ITEM 2</a>
        <a href="#">ITEM 3</a>
        <a href="#">ITEM 4</a>
    </div>

</div>
<a onclick="openNav()" class="btn-flotante">
    < </a>
        <main id="contenido">
            <div class="videoSeccion centrar">
                <video width="80%" class="videoPlayer" controls>
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="controles">
                <div>
                    Anterior
                </div>
                <div>
                    Siguiente
                </div>

            </div>
            <div>
                <h2 class="centrar">Descripción</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, quidem cumque aut dignissimos
                    explicabo tempora enim velit dolorum quo eos saepe? Excepturi, fuga! Labore ratione saepe ad,
                    dignissimos unde repellendus?</p>
            </div>
            <div>
                <h2 class="centrar">Comentarios</h2>
                <hr class="line">

                <div class="container-comments">

                    <div class="comments">



                        <div class="info-comments">

                            <div class="headerComentario">

                                <h4>Cristian Cedano</h4>
                                <h5>25 noviembre 2017</h5>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptas reiciendis,
                                hic voluptatibus maxime, delectus fugiat, aspernatur nisi saepe, temporibus nemo
                                sequi sint pariatur ratione! Repellat tempora doloremque illo necessitatibus.</p>

                            <div class="respuestaArea">

                                <input type="text" class="inputRespuesta" placeholder="Responder">
                                <input type="button" value="Responder">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="container-comments-request">

                    <div class="comments-request">


                        <div class="info-comments-request">

                            <div class="headerComentario">


                                <h4>Cristian Cedano</h4>
                                <h5>25 noviembre 2017</h5>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptas reiciendis,
                                hic voluptatibus maxime, delectus fugiat, aspernatur nisi saepe, temporibus nemo
                                sequi sint pariatur ratione! Repellat tempora doloremque illo necessitatibus.</p>

                            <div class="respuestaArea">

                                <input type="text" class="inputRespuesta" placeholder="Responder">
                                <input type="button" value="Responder">

                            </div>
                        </div>

                    </div>


                </div>
                <div>
                    <hr class="line">
                    <a href="#"><button id="myBtn"> Dejar un comentario</button></a>

                </div>
            </div>
        </main>
        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <label class="centrar">Comentar</label>


                <div>


                    <input class="modalComentario" type="text" placeholder="Deja tu comentario">
                </div>
                <div class="btnsModal">
                    <button class="btnCerrarModal">Cancelar</button>
                    <button class="btnComentar">Comentar</button>

                </div>
            </div>

        </div>

{{> footer }}