
        <link rel="stylesheet" href="/static/css/error.css">
        

        <div class="container">
             <img class="img2" id="error404" onclick="addBorder()" src="/static/img/error404.png" alt="">
        <h1>La página que ha solicitado no se encuentra disponible</h1>
        <div class="boton">
            <a href="/inicio">
<button>Volver atras</button>
            </a>
        </div>
    </div>
