<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GDEX</title>
    
    <!-- Tailwind CSS Link -->
   
    
 
  </head>
  <body >

    {{> navbar }}
    
    <!-- Document body -->

    <section style="padding: 50px;">
          {{{body}}}
    </section>

  </body>
</html>