<h4>{{> header}}</h4>

<hr>

<div class="Container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="centrado separado">
                <img src="/static/img/logo.png" style="width:auto; height:90px;" alt="Imagen no disponible">
            </div>
            <form action="/login" method="POST" class="border-black">
                <h1 class="centrado">Login</h1>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Ingrese su correo electrónico">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/signup" class="">¿No tienes cuenta?</a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary center">Iniciar sesión</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#if alert}}
    <script>
        Swal.fire({
            title: 'Inicio de sesión',
            text: 'Autentificación correcta!!',
            icon: 'success',
            showConfirmButton: 'false',
            timer: '2000'
        }).then(()=>{
            window.location= '/index'
        })
    </script>
{{else if error}}
    <script>
        Swal.fire({
            title: 'Inicio de sesión',
            text: 'El correo o la contraseña son incorrectos.',
            icon: 'error',
            showConfirmButton: 'false',
            timer: '2000'
        }).then(()=>{
            window.location= '/login'
        })
    </script>
{{/ if}}

{{> scripts}}